[Unit]
Description=Aria2c Daemon
Documentation=man:aria2(1)
Wants=ariang-webfsd.service
Requires=aria2cd-upnp.service
After=aria2cd-upnp.service
Wants=media-storage.mount
After=media-storage.mount

[Service]
Type=exec
ExecStart=sh -c "exec /usr/bin/aria2c --daemon=false --conf-path=%E/aria2/aria2cd.conf $(cat %E/aria2/.aria2cd.conf.cmdline)"
TimeoutStopSec=60
RestartSec=60
OOMScoreAdjust=-1000
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=default.target
