[Unit]
Description=Hourly synchronization of Firefox profile %I
StopWhenUnneeded=yes
RefuseManualStart=yes

[Timer]
OnCalendar=00/2:00:00
RandomizedDelaySec=5m
AccuracySec=5m

[Install]
WantedBy=default.target
