[Unit]
Description=Hourly synchronization of Firefox profile %I
StopWhenUnneeded=yes
RefuseManualStart=yes

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5min

[Install]
WantedBy=default.target
