[Unit]
Description=Poke %I
ConditionPathIsMountPoint=/media/%I

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /media/%I/.heartbeat

[Install]
WantedBy=default.target
