[Unit]
Description=IMAP IDLE Daemon (Clearnet)
Requires=mbsync-profile@clearnet.service
After=mbsync-profile@clearnet.service

[Service]
Type=simple
ExecStart=mbidled -c "%t/mbsyncrc.clearnet"

[Install]
WantedBy=default.target
