[Unit]
Description=IMAP IDLE Daemon (Clearnet)
Requires=mbsync-profile@clearnet.service
After=mbsync-profile@clearnet.service

[Service]
Type=simple
ExecStart=mbidled -c "%t/mbsyncrc.clearnet"
Restart=always
CapabilityBoundingSet=
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6
SystemCallFilter=@system-service

[Install]
WantedBy=default.target
