[Unit]
Description=MailBox Synchronization
Requires=mbsync-profile@darknet.service
After=mbsync-profile@darknet.service

[Service]
Type=oneshot
ExecStart=/usr/bin/torsocks /usr/bin/mbsync -ac "%t/mbsyncrc.darknet"
# ExecStartPost=/usr/bin/notmuch new

[Install]
WantedBy=default.target
