[Unit]
Description=Generate MailBox Profile %I
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/make -C "%E/mbsync" "src=%i" "target=%t/mbsyncrc.%i"
