[Unit]
Description=%I MailBox Profile Generator
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/make --quiet -C "%E/mbsync" "src=%i" "target=%t/mbsyncrc.%i"
