[Unit]
Description=MailBox Synchronization Timer

[Timer]
OnBootSec=2m
OnUnitActiveSec=15m
RandomizedDelaySec=5m
AccuracySec=1m

[Install]
WantedBy=timers.target
