[Unit]
Description=MiniDLNA Media Server Daemon
After=network.target

[Service]
Type=forking
ExecStartPre=sh -c 'envsubst <$1 >$2' sh "%E/minidlna/config" "/tmp/config"
ExecStart=minidlnad -f /tmp/config -R
SystemCallFilter=@system-service
NoNewPrivileges=yes
PrivateUsers=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=read-only

[Install]
WantedBy=default.target
