[Unit]
Description=RSS To Mailbox Timer

[Timer]
OnBootSec=1m
OnUnitActiveSec=15m
RandomizedDelaySec=1m
AccuracySec=1m

[Install]
WantedBy=timers.target
