[Unit]
Description=RSS to Mailbox

[Service]
Type=oneshot
ExecStart=/bin/python -B %E/mrss
ExecStopPost=%E/mrss/post
OOMScoreAdjust=1000
SyslogIdentifier=mrss
