[Unit]
Description=RSS To Mailbox Timer

[Timer]
OnBootSec=2m
OnUnitActiveSec=6h
RandomizedDelaySec=15m
AccuracySec=1m

[Install]
WantedBy=timers.target
