[Unit]
Description=Tmux Status Generator
After=tmux-server.service
BindsTo=tmux-server.service

[Service]
Type=simple
ExecStart=%E/tmux/status
ExecStop=-tmux set -ug @status
Restart=always

[Install]
WantedBy=tmux-server.service
