[Unit]
Description=Tmux Server

[Service]
Type=simple
Environment=TERM=alacritty
ExecStart=/usr/bin/tmux -D
ExecStartPost=/usr/bin/tmux new-session -d -s home

[Install]
WantedBy=default.target
