[Unit]
Description=Tmux Mail Status Generator
After=tmux-server.service
BindsTo=tmux-server.service

[Service]
Type=simple
ExecStart=%E/tmux/mail
ExecStop=-tmux set -ug @status-mail
Restart=always

[Install]
WantedBy=tmux-server.service
