[Unit]
Description=Tmux Server

[Service]
Type=simple
Environment=TERM=alacritty
ExecStart=/usr/bin/tmux -D
ExecStartPost=/usr/bin/tmux new-session -d -s home
# Cannot be <100 though.
OOMScoreAdjust=-1000
OOMPolicy=continue

[Install]
WantedBy=default.target
