[Unit]
Description=Tmux Server
RefuseManualStop=true

[Service]
Type=forking
Environment=TERM=alacritty
ExecStart=/usr/bin/tmux start-server; set-option -g exit-empty off
# Cannot be <100 though.
OOMScoreAdjust=-1000
OOMPolicy=continue

[Install]
WantedBy=default.target
