[Unit]
Description=Transmission BitTorrent Daemon
After=network.target
ConditionVirtualization=no

[Service]
Type=notify
ExecStart=/usr/bin/env transmission-daemon -f --log-error
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
